<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <meta charset="UTF-8">
        <link rel="icon" href="/img/m2.jpg">

    <link rel="stylesheet" href="/style.css"> 
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>this site was Created by Mahmoud Abd El Naby , it uses data from mapbox.com and darksky.net</p>
    <img class="me" src="/img/m2.jpg">
    </div>
    
        {{>footer}}

  </body>
</html>