<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <meta charset="UTF-8">
        <link rel="icon" href="/img/m2.jpg">

    <link rel="stylesheet" href="/style.css"> 
  </head>
  <body>
    <div class="main-content">
      {{>header}}
    <img class="me" src="/img/m2.jpg">
    </div>
    
        {{>footer}}

  </body>
</html>