<!DOCTYPE html>
<html>
  <head>
    <title>Help</title>
    <meta charset="UTF-8">
        <link rel="icon" href="/img/m2.jpg">

    <link rel="stylesheet" href="/style.css"> 

  </head>
  <body>
    <div class="main-content">
      {{>header}}
    <b><p>{{contact_us}}</p></body></b>
    </div>
    
    {{>footer}}
  </body>
</html>