<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/m2.jpg">
    <link rel="stylesheet" href="/style.css">
  </head> 
  <body>
    <div class="main-content">
    {{>header}}
    <p>Use this site to get your weather</p>
    <form>
      <input placeholder="Location">
      <button>Search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
        </div>
    {{>footer}}
        <script src="app2.js"></script> 

  </body>
</html>