<!DOCTYPE html>
<html>
  <head>
    <title>404</title>
    <meta charset="UTF-8">
        <link rel="icon" href="/img/m2.jpg">

    <link rel="stylesheet" href="/style.css"> 

  </head>
  <body>
    <div class="main-content">
       {{>header}}
    <p>{{errormessage}}</p>
    </div>
   
    {{>footer}}
  </body>
</html>